*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    padding: 20px 10px;
    background-color: white;
}

body{
    background-color: lightgray;
}

h1{
    display: inline;
    vertical-align: middle;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

main{
    margin: 20px;
    margin-top: 10px;
    border-radius: 1%;
}

.center{
    margin-top: 2px;
    background-color: white;
    padding: 45px;
    margin-left: 70px;
    margin-right: 70px;
}

.top{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0px;
}

.bdr{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #47ADF1;
    padding: 7px; 
    color: white;
    font-family: 'Lato', sans-serif;
}

.bd{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px; 
    color: grey;  
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
}

.check::before{
    content:"\2713";
    color: green;
    border-radius: 50%;
    border-color: green;
    border: 1px solid;
    height: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.wrong::before{
    content: "\0078";
    color: red;
    border-radius: 50%;
    border-color: red;
    border: 1px solid;
    height: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.etichetta{
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.et-blue{
    background-color: #47ADF1;
}

.et-viola{
    background-color: violet;
}

.et-verde{
    background-color: green;
}

.et-arancione{
    background-color: orange;
}

.et-fucsia{
    background-color: fuchsia;
}

.et-chiaro{
    background-color: yellowgreen;
}